<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="/assets/css/style.css" rel="stylesheet" />

    <title>Smart-Fix</title>
  </head>
  <body>
    <header class="container pageHeader">
      <h1 class="col">
        <img class="image" height="60" src="/assets/img/logo.jpeg" alt="logo" />
        <a href="/">SMART FIX</a>
      </h1>

      <div class="col user-signing">
        {{#if loggedIn}}
          <!--<a href="/dashboard" class="col s3">Dashboard</a>-->
          <button id="logout" class="col btn waves-effect waves-light blue">Sign
            Out</button>
        {{else}}
          <a href="/login"><button
              class="col btn waves-effect waves-light blue"
            >Sign In</button></a>
          <!--<a href="/signup"><button class="col btn waves-effect waves-light green">Register</button></a>-->
        {{/if}}
      </div>
    </header>
    <nav class="container blue darken-3">
      {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
      {{/if}}
      <a href="/forums">Forums</a>
      <a href="/services">Services</a>
      <a href="/about">About</a>
      <a href="#contact">Contact</a>
    </nav>

    <main>
      {{{body}}}
    </main>

    {{! <footer>
    <p>Thank you for visiting</p>
  </footer> }}

    {{#if loggedIn}}
      <script
        type="text/javascript"
        src="/assets/javascript/logout.js"
      ></script>
    {{/if}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
  </body>
</html>