<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart-Fix</title>
</head>
<body>
  <header>
    <h1><a href="/">SMART FIX</a></h1>
    <nav>
      <a href="/forums">Forums</a>
      {{#if loggedIn}}
      <a href="/dashboard">Dashboard</a>
      <button id="logout">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>Thank you for visiting</p>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>