<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <h1>About</h1>
      <h3>What is SmartFix?</h3>
      <p>SmartFix is a website that allows residents of a building to request
        work orders to be performed in their homes. It provides a platform for
        residents to make postings about what needs to fixed, and also allows
        service providers to view these postings and choose what they would like
        to work on
      </p>

      <h3>How does it work?</h3>
      <h5>Residents</h5>
      <p>Residents of the building can register to create an account, which will
        allow them to make job postings for whatever work orders they want done.
        They are given an order form to provide basic information about the
        issue which will be seen by service providers looking to complete the
        work. The service providers can then reply back to the resident with the
        estimated price to complete the work order.
      </p>

      <h5>Service Providers</h5>
      <p>Service providers can choose what type of services they offer when they
        create their account. Once logged in, they can view all the work orders
        that residents of the building have posted, and can determine how much
        completing the task would cost. Service providers can also change the
        status of the work order when they are in the progress of completing it,
        and when it is done.
      </p>

    </div>
  </div>
</div>