<div id="displayBox">
  <div class='container'>
    <ol class="post-list">
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
      </li>
      {{/each}}
    </ol>
  </div>
</div>