<div id="displayBox">
  <div class='container'>
    <ol class="post-list">
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
      </li>
      {{/each}}
    </ol>
  </div>
</div>
<!--<div class="row container">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
     <div class="card blue-grey blue lighten-3">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>-->
  
</div>
