<div class="hero center row hide-on-small-and-down">
    <img aria-label="tools on a blue background with a tagline saying here to help" class="col s12 " src="/assets/img/hero.png">
</div>

<article>
<section class="grey lighten-4 row" id="services">
    <h2 class="center blue darken-3 white-text">Services</h2>

    <div class="container">
        <ul class="center col s12" >
            <li class="card hoverable col s12 m12 l3">
                <h3 class="card-title blue-text"><b>Plumbing</b></h3>
            </li>
            <li class="card hoverable col s12 m12 l3">
                <h3 class="card-title blue-text"><b>Snow-removal</b></h3>
            </li>
            <li class="card hoverable col s12 m12 l3">
                <h3 class="card-title blue-text"><b>Electrical Repairs</b></h3>
            </li>
            <li class="card hoverable col s12 m12 l3">
                <h3 class="card-title blue-text"><b>Window cleaning</b></h3>
            </li>
            <li class="card hoverable col s12 m12 l3">
                <h3 class="card-title blue-text"><b>Yard Work</b></h3>
            </li>
        </ul>
    </div>

</section>

<section class="grey lighten-4" id="about">
    <h2 class="center blue darken-3 white-text">About</h2>

<div class="container">
    <p>Smart Fix is a platform for users and service providers to easily manage their requests. Navigate through your request via dashboard.<br> As a customer, Smart Fix lets you easily request for all the household services and repair works online. Schedule the service as per your availability.<br>
    If you are a service provider, Smart Fix provides you a platform to easily view and accept requests as per your expertise.</p>
<ul class="row">
    <li class="col s12 l6">
    <h3>Easy Maintenance</h3>
    <p>Book all your services online in no time.</p>
    </li>

    <li class="col s12 l6">
    <h3>Multiple Requests?</h3>
    <p>Not a problem! Go to your dashboard to view all your previous service requests or create new.</p>
    </li>

    <li class="col s12 l6">
        <h3>We care for your need</h3>
        <p>Schedule the requests as per your need and day!</p>
    </li>

    <li class="col s12 l6">
    <h3>Work with us</h3>
    <p><a href="./signup">Sign-up</a> as a service-provider. We help you help others!</p>
    </li>

</ul>
</div>
    
</section>

</article>
