<form class='login-form'>
  <div class='container'>
    <div class="row">

      <ul class="col m8 offset-m2">
        <li class="col s12 input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" type="email" class="validate email-login">
          <label for="email">Email</label>
        </li>

        <li class="col s12 input-field">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate password-login">
          <label for="password">Password</label>
        </li>

        <li class="col s12 center loginAlert"></li>

        <li>
        <button class="btn waves-effect waves-light blue " type="submit"><i class="material-icons left">login</i>Sign In</button>
        <button class="btn waves-effect waves-light green signup-btn"><i class="material-icons left">how_to_reg</i>Register</button>
        </li>

      </ul>
      </div>
  </div>
</form>

<script src="/assets/javascript/login.js"></script>