<div id="displayBox">
  <div class='form-container'>
    <form class='login-form'>
      <div>
        <label for='email-login'>EMAIL: </label>
        <input type='text' id='email-login' />
      </div>
      <div>
        <label for="password-login">PASSWORD:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <!--     <button type='submit'>Sign in</button>
        <button type="button" class="signup-btn">Signup</button>-->
        <button class="col s3 btn waves-effect waves-light blue" type="submit">Sign In</button>
        <button class="col s3 btn waves-effect waves-light green signup-btn">Register</button>
      </div>
      <div class='loginAlert'>
        <p>Username or password is incorrect. Please try again!!</p>
      </div>
    </form>
  </div>
</div>

<script src="/assets/javascript/login.js"></script>