<div class="container">
  <h1 class="center-align">Services</h1>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/Electrical.png" alt="" />
        </div>
        <div class="card-content">
          <h5>Electrical Services</h5>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/Plumbing.png" alt="" />
        </div>
        <div class="card-content">
          <h5>Plumbing Services</h5>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/HVAC.png" alt="" />
        </div>
        <div class="card-content">
          <h5>HVAC</h5>
        </div>
      </div>
    </div>

  </div>
</div>