<nav class="container blue darken-3">
    <a href="/forums">Forums</a>
    <a href="#services">Services</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
</nav>

<div class='form-container'>
<form class="signup-form">
  <div>
    <label for="username-signup">USERNAME:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">EMAIL:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">PASSWORD:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <p>Are you registering as a service provider?</p>
    
    <input type="radio" id="service-yes" name="service" value="Yes">
    <label for="service-yes">Yes</label>


    
    <input type="radio" id="service-no" name="service" value="No">
    <label for="service-no">No</label>
   
  </div>
  <div>
    <select name="service-type">
      <option value="null" disabled>Please select srvice type</option>
      {{#each services}}
        <option value="{{id}}">{{service_type}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>
</div>
<script src="/javascript/signup.js"></script>