
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
     
header{
    margin: 0 5vw !important;
}

#about{
    padding-bottom: 5vw;
}

.user-signing{
    position: relative;
    top: 4vw;
}

.hero{
    margin-top: 1.5vw;
    position: relative;
    bottom: 4vw;
    z-index: -1;
}

.btn{
    margin: 0 3vw;
    border-radius: 3rem !important;
}

nav{
    border-radius: 3rem;
    padding: 0 1.5vw;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#services li{
    margin: 2vw;
    border: rgb(74, 148, 236) 5px solid;
}

#services li h3{
    padding: 2vw;
}

.loginAlert {
  color: red;
  display: none;
}

.serviceYesNo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-type {
  display: none;
}

.createJobBtn{
  padding-bottom: 0.5vw;
}

/*--JOB DATA SINGLE PAGE DISPLAY--*/
#applyJobForm {
  display: none;
}

.alertMessage {
  color: red;
  display: none;
}

/*--JOB CREATE CUSTOMER PAGE DISPLAY--*/
.addNewJobForm textarea {
  white-space: pre-wrap;
}

.addNewJobForm{
  padding: 2vw;
}

#addNewJobForm, #editJobForm, #editAssignForm {
  display: none;
}

/*--BACK BUTTON--*/
.backButton {
  display: flex;
  line-height: .1em;
}

.backClick {
  display: flex;
  cursor: pointer;
}

.allAssignmentList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}