.card {
  margin: 10px;
}

.logo {
  margin-left: 20px;
}

.signup {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.nav-txt {
  text-transform: uppercase;
  word-spacing: 5x;
  color: white;
  font-size: larger;
}

.nav-wrapper {
  padding-bottom: 70px;
}

.sign-up {
  margin-top: 50px;

}

.container {
  border: 5px solid red;
  display: flex;
  justify-content: right;
}